#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 驼峰命名自动映射：数据库 create_time -> Java createTime -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 允许使用自动生成的主键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 开启二级缓存（按需关闭） -->
        <setting name="cacheEnabled" value="true"/>
    </settings>
</configuration>